+contentFor("headerTitle")
  h1.title coorDirections

+ionList
  +ionItem(iconLeft=true iconRight=true)
    +ionIcon(icon="ios-checkmark" class="positive")
    | Action Sheet
    +ionIcon(icon="ios-arrow-right")
