@import "variables";
// Ionic
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
}
#iron-router-progress {
  background-color: $second-color;
  box-shadow: 0 0 5px $second-color;
  width: 100%;
}
.ionic-body.platform-android {
  font-family: "Roboto", sans-serif;

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
  }
  .tab-item {
    font-family: "Roboto", sans-serif;
  }
}
.ion-slide {
  text-align: center;
  padding-top: 200px;

  &.dark-bg {
    h3 {
      color: #fff;
    }
  }
}