@main-background-color: darkblue;
@main-selection-color: #3AD70B;
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
}
core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
core-toolbar {
  background: @main-background-color;
  color: white;
  #tabs {
    width: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    a {
      text-transform: uppercase;
      color: white;
      text-decoration: none;
    }
    &::shadow #selectionBar {
      background-color: @main-selection-color;
    }
    paper-tab::shadow {
      #ink {
        color: @main-selection-color;
      }
    }
  }
}
#iron-router-progress {
  background-color: @main-selection-color;
  box-shadow: 0 0 5px @main-selection-color;
  width: 100%;
}
#map_canvas {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute !important;
  transition: all 0.2s ease-in;
  &.open {
    left: -50%;
  }
}
.results {
  position: absolute;
  background: white;
  bottom: 0;
  height: 100%;
  width: 50%;
  right: -50%;
  transition: all 0.2s ease-in;
  overflow: scroll;
  #directions {
    padding: 1em;
  }
  &.open {
    right: 0;
  }
}
.navigation {
  .meet {
    position: absolute;
    top: 30px;
    right: 8px;
    z-index: 99;
    background: @main-background-color;
    color: white;
    display: none;
  }
}
.login {
  position: absolute;
  right: 0;
}