+ionBody
  +ionNavBar(class="bar-positive")
  +ionNavView
    +contentFor("headerButtonLeft")
      button.button.button-clear.pull-left
        +ionIcon(icon='radio-waves')
    +ionView
      +ionContent
        +yield
  +ionFooterBar(class="bar-dark")
    +yield("footer")
